body {
  margin: 0;
}
header {
  background-color: #E1E4E4;
  padding: 15px;
}
header ul {
  float: right;
  color: white;
  margin-top: 5px;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}


.content {
  display: flex; 
  justify-content: flex-start;
  }

.flex-container {
  display: flex;
  justify-content: space-around;
}

.researcher {
  width: 33%;

}

.Interface {
  width: 33%;
  padding-left: 100px;
  padding-right: 100px;

}

.webDev {
  width: 33%;

}


.weather {
display: block; 
}

.workGrid{
  display: flex;
  flex-direction: row-reverse;
}

.NSPKU {
  display: block; 
  justify-content: flex-start;
  }

  

li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  display: block;
  padding: 10px;
}

header p {
  display: inline-block;
}

.inline-block {
  display: inline-block;
}

.hero {
  background-color: #F0F1F3;
  padding: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

h5{
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 22px; 

}
button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
  
}

.seeker{
  width: 300px;
}

.text-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

}



.download {

  display: flex;
  margin: 0 auto; 
}

h1{ 
text-align: center;

}

h4 {
  font-size: 22px; 
  font-weight: bold;
  
}

footer {
  background-color: #E1E4E4;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}

@media only screen and (max-width: 600px) {
  body {

    .hero {
font-size: 12px;
    }

    .resercher {
      font-size: 12px;
          }

          .Interface {
            font-size: 12px;
                }